<div class="row">
  <input [(ngModel)]="todo().name" placeholder="Name" class="form-control" />
  <input [(ngModel)]="todo().content" placeholder="Content" class="form-control" />
  <button (click)="addtoDo()" class="btn btn-success" [disabled]="!todo().name.trim() || !todo().content.trim()">
    Add
  </button>
</div>

<div class="container text-center">
  @for ( status of statuses ; track status ) {
  <div class="row">
    <div class="col">
      <h3 class="fs-1">{{ status }}</h3>
    </div>
    @for ( item of getTodosStatus(status) ; track item.id ) {
    <div class="row">
      <div class="col">
        <p class="fs-3">{{ item.name }} : {{ item.content }}</p>
      </div>
      <div class="col">
        <button (click)="removeTodo(item.id)" class="btn btn-danger m-2">
          Remove
        </button>
        @for( newStatus of statuses ; track newStatus ) { @if (newStatus !==
        status) {
        <button (click)="changestatus(item, newStatus)" class="btn btn-info m-2">
          {{ newStatus }}
        </button>
        }}
      </div>
    </div>
    }
  </div>
  }
</div>